<div ng-controller="NewsCtrl">
	<div class="row well">
		<div class=" col-md-12 text-center">
			<h2>NewsFeed</h2>
		</div>
	</div>

	<div class="row well">
		<div class="col-md-12">
			<input type="hidden" class="form-control" ui-select2='select2Options' ng-model='feedName' data-placeholder="Select the name of a feed", ng-required="true">
		</div>
	</div>
	<div class="row well" ng-show="feeds.length > 0">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body text-center">
					<h3>{{feedTitle}}</h3>
					<p>{{feedDesc}}</p>
					<p>{{(feeds | filter:filterText).length}} Feeds</p>
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-show="feeds.length > 0">
			<form role="form">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" data-ng-model="filterText">
				</div>
			</form>
		</div>
	</div>
	<div class="row" ng-show="!showOneFeed">
		<div class="col-md-12">
			<div class="panel panel-info" ng-repeat="feed in feeds | filter:filterText">
				<div class="panel-heading">
					<h3 class="panel-title"><h4>{{feed.title}}</h4></h3>
				</div>
				<div class="panel-body">
					<p>{{feed.contentSnippet}}</p>
					<!-- <p>{{feed.content}}</p> -->
					<p><a href='' ng-click="showFeed(feed)">View Feed</a></p>
				</div>
				<div class="panel-footer">{{feed.publishedDate}}</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="showOneFeed">
		<div class="col-md-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><h4><a href="#">{{oneFeed.title}}</a></h4></h3>
				</div>
				<div class="panel-body">
					<p>{{oneFeed.content}}</p>
					<p><a href='{{oneFeed.link}}'>Open Link</a></p>
				</div>
				<div class="panel-footer">{{oneFeed.publishedDate}}</div>
			</div>
		</div>
	</div>
</div>
