<!DOCTYPE html>
<html ng-app="newsfeed">
<head>
	<title>Newsfeed</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<div class="row" style="margin: 10px;">
			<%= yield %>
		</div>
	</div>
</body>
</html>
